<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="header">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kodak Moments - Loyalty Opt Out</title>
  <link rel="icon" th:href="@{/companies-static/kodakmoments/member-unsub/images/favicon.ico?v=6}">
  <link rel="stylesheet" th:href="@{/companies-static/kodakmoments/member-unsub/styles/checkbox.css}" />
  <link rel="stylesheet" th:href="@{/companies-static/kodakmoments/member-unsub/styles/main.css}" />
</th:block>

<th:block th:fragment="footer">
    <footer style="position:fixed; bottom:0; left: 0;width:100%;">
        <div>
            <div style="color:white;">© 2021 Kodak Moments Division, Kodak Alaris Inc.</div>
            <div style="font-size:9px; margin-top:4px;">The Kodak trademark and trade dress are used under license from Eastman Kodak Company.</div>
        </div>
    </footer>
</th:block>
</body>
</html>