<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="robots" content="noindex,nofollow">
	<th:block th:include="~{/companies/dollartree/fragments :: head }" />
</head>
<body th:object="${dynamicFormBean}" th:with="brand=${dynamicFormBean.getBrand()}">

<!-- th:action="@{'/p/profile/search/' + *{contextPath}}" -->
<form method="post" name="form" id="form" th:action="@{'/p/profile/search/' + *{contextPath}}">

  <div class="container gray dt-margin" role="main">
    <div class="col-md-6"> 
      <div class="container gutters items-start">
        <div class="col-12 padding-top mobile-center">
        	<p class="green large">Unsubscribe from Emails</p>
        	
        	<p><strong class="bigger">We miss you already....</strong> <br>
				If you would like to unsubscribe from all <br class="hide">
				future Dollar Tree emails informing you <br class="hide">
				about awesome savings, click <br class="hide">
				&ldquo;Unsubscribe&rdquo; below:</p>
			
			<p>
                <strong><div id="email"></div></strong>
                <input type="hidden" th:field="*{items['email']}" />
                <div th:if="${dynamicFormBean.isError('email')}" style="color:red; display:block;">
                    <span>Please enter a valid email address.</span>
                </div>
			</p>


            <div th:if="${dynamicFormBean.isError('recaptcha')}">
                <span class="error">Recaptcha validation failed.  Please reload the form and try again.</span>
            </div>
            <div class="g-recaptcha" th:attr="data-sitekey=${dynamicFormBean.getRecaptchaKey()}"></div>
            <span id="captchaError" class="alert alert-danger col-sm-4" style="display:none"></span>


  			<p><button type="submit" class="btn radius background-color-primary color-auto cursor-pointer hover-background-color-darker btn-subscribe">PROCEED</button>
  			</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container gutters">
        <div class="col-12 text-center">
          <img th:src="@{/companies-static/dollartree/images/unsub.png}" width="100%" class="feature-img">

        </div>
      </div>
   
    </div>
  </div>
  
  <div class="container gutters-sm-all dt-margin">

	<th:block th:include="~{/companies/dollartree/fragments :: privacyBlockIndex }" />

  </div>

	<input type="hidden" th:field="*{brand}" />
	<input type="hidden" th:field="*{items['cusCustomerIdHash']}" />
</form>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script th:src="@{/companies-static/dollartree/js/jquery.min.js}"></script>
<script>
    const queryString = window.location.search.toLowerCase();
    const urlParams = new URLSearchParams(queryString);
    const email = urlParams.get('email');
    if(email){
        $("#email").html(email);
        $("input[name='items[\\'email\\']']").val(email);
    }else{
        $("input[name='items[\\'email\\']']").attr("type","text");
        $("input[name='items[\\'email\\']']").attr("placeholder","email");
    }


   // $("#form").submit();
</script>

</body>
</html>
