/* fixme: rename choose_slider_items to animated-slider or something */

.choose_slider_items li {
	position: relative;
	list-style: none;
	display: none;
	text-align: center;

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.choose_slider_items .previous_hidden {
	display: block;
	transform: scale(0.6,0.6);
	-moz-transform: scale(0.6,0.6);
	-ms-transform: scale(0.6,0.6);
	-webkit-transform: scale(0.6,0.6);
	opacity: 0.0;
	position: absolute;
	top: 40px;
	left: -5px;
	z-index: 0;
}

.choose_slider_items .next_hidden {
	display: block;
	transform: scale(0.6,0.6);
	-moz-transform: scale(0.6,0.6);
	-ms-transform: scale(0.6,0.6);
	-webkit-transform: scale(0.6,0.6);
	opacity: 0.0;
	position: absolute;
	top: 40px;
	left: 525px;
	z-index: 0;
}

.choose_slider_items .previous_item {
	display: block;
	transform: scale(0.6,0.6);
	-moz-transform: scale(0.6,0.6);
	-ms-transform: scale(0.6,0.6);
	-webkit-transform: scale(0.6,0.6);
	opacity: 0.65;
	position: absolute;
	top: 10px;
	left: 152px;
	z-index: 0;
}

.choose_slider_items .next_item {
	display: block;
	transform: scale(0.6,0.6);
	-moz-transform: scale(0.6,0.6);
	-ms-transform: scale(0.6,0.6);
	-webkit-transform: scale(0.6,0.6);
	opacity: 0.65;
	position: absolute;
	top: 10px;
	left: 528px;
	z-index: 0;
}


.choose_slider_items .previous_item_2 {
	display: block;
	transform: scale(0.4,0.4);
	-moz-transform: scale(0.4,0.4);
	-ms-transform: scale(0.4,0.4);
	-webkit-transform: scale(0.4,0.4);
	opacity: 0.35;
	position: absolute;
	top: 10px;
	left: 16px;
	z-index: 0;
}

.choose_slider_items .next_item_2 {
	display: block;
	transform: scale(0.4,0.4);
	-moz-transform: scale(0.4,0.4);
	-ms-transform: scale(0.4,0.4);
	-webkit-transform: scale(0.4,0.4);
	opacity: 0.35;
	position: absolute;
	top: 10px;
	left: 664px;
	z-index: 0;
}


.choose_slider_items .current_item {
	display: block;
	position: absolute;
	transform: scale(.8,.8);
	-moz-transform: scale(.8,.8);
	-ms-transform: scale(.8,.8);
	-webkit-transform: scale(.8,.8);
	top: 0;
	left: 340px;
	z-index: 100;
}
