<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Boscovs - Unsubscribe</title>

    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="noindex" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/companies-static/boscovs/unsubscribe/css/pure.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/companies-static/boscovs/unsubscribe/css/unsubscribe.css}" />

</head>

<body>

<div id="container" style="display:block">
    <div class="wrapper">
        <img alt="Logo" src="http://web.boscovsemail.com/images/companyName.gif" />
    </div>

    <div id="main">
        <h3>You have been unsubscribed.</h3>
    </div>
</div>

</body>
</html>
