<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Classic Toy Trains</title>
    <meta name="viewport" content="width=320, initial-scale=.53;minimum-scale=.53, user-scalable=yes" />
</head>

<!-- BODY -->
<body th:object="${dynamicFormBean}" th:with="email=*{items['email']},brand=*{brand}"
      bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<!-- Save for Web Slices (22008-MMP.psd)  border:solid 1px #24508b;" -->
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:18px;" id="Table_01">
    <tbody>
    <tr>
        <td colspan="3"><img style="display:block;" border="0" th:src="@{/companies-static/kalmbachmedia/images/CTT/P23083-EC_01.jpg}" width="600" height="111" alt="Build Great Scale Models" spname="P23083-EC_01.jpg" xt="SPIMAGE" contentid="7957167" /></td>
    </tr>
    <tr>
        <td style="padding:20px 20px 20px 20px;" colspan="3">
            <p>
                Learn what you need to get started as a toy train operator/collector. <em>Classic Toy Trains</em> brings you a new 4-part email series called &quot;Toy Train Basics.&quot; Using insightful articles and helpful video guides, it teaches you the essentials of the hobby, including:
            </p>
            <img th:src="@{/companies-static/kalmbachmedia/images/CTT/image_shots.jpg}" alt="Tank" width="225" height="244" style="display:block; float:right;" border="0" spname="image_shots.jpg" xt="SPIMAGE" contentid="7957170" />
            <ul>
                <li>Lessons on fundamental terminology.</li>
                <li>How to create a small, simple track plan.</li>
                <li>Operating control tips.</li>
                <li>And much more!</li>
            </ul>
            <p>
                Signing up is quick, easy, and FREE! Use the form below to enter your email, then click &quot;Sign up.&quot;
            </p>
            <br />
            <br />
            <br />
            <form style="margin:0 0 0 20px;" method="post" th:action="@{'/p/profile/search/' + *{contextPath}}">
                <label>
                    <input id="email" type="email" maxlength="256" th:field="*{items['email']}"
                           style="width:400px; margin:5px 0;" oninput="lowercase()" onkeyup="lowercase()">
                </label><br />
                <label>
                    <input style="margin:5px 0 0 0;" type="image" name="submit" id="imageField" th:src="@{/companies-static/kalmbachmedia/images/CTT/button.jpg}" border="0" spname="button.jpg" xt="SPIMAGE" contentid="7957172" />
                </label>

                <input type="hidden" th:field="*{brand}" />
                <input type="hidden" th:field="*{items['cusCustomerIdHash']}" />
            </form>

            <div data-abide-error>
            <span class="pure-form-message" style="color:red;">
                <div th:if="${dynamicFormBean.isError('email')} == true">
                    Invalid email address format. Please enter a valid email address.
                </div>
                <p class="error" th:text="${errorMsg}"></p>
            </span> <br>
            </div>
            <!-- <p style="font-size:10px;">By signing up you may also receive reader surveys and occasional special offers from CabinLife.com.<br /><a href="http://corporate.kalmbach.com/privacy">View our privacy policy.</a> </p>   -->
        </td>
    </tr>
    <tr>
        <td colspan="3"><img style="display:block;" border="0" th:src="@{/companies-static/kalmbachmedia/images/CTT/P23083-EC_06.jpg}" width="600" height="28" alt="" spname="P23083-EC_06.jpg" xt="SPIMAGE" contentid="7957169" /></td>
    </tr>
    </tbody>
</table>
<!-- End Save for Web Slices -->
<table width="600" border="0" align="center" cellpadding="15" cellspacing="0" style=" font-size:11px; color:#666666; font-family:Arial, Helvetica, sans-serif;">
    <tbody>
    <tr>
        <td align="left" valign="top">Please note: <em>Classic Toy Trains</em> will never share your information with any other companies. Upon completion of the series, you will begin receiving the twice monthly <em>Classic Toy Trains</em> newsletter, special offers, and surveys. You also have the ability to unsubscribe from these newsletters at any time simply by following the unsubscribe link located at the bottom of each email. <a href="https://www.kalmbach.com/privacy/" target="_blank" name="Privacy Policy" xt="SPCLICK" xthyperlink="735093">View our privacy policy.</a></td>
    </tr>
    </tbody>
</table>
<script type="text/javascript">
    function lowercase() {
        var fld = document.getElementById("email");
        fld.value = fld.value.toLowerCase();
    }
</script>
</body>
</html>