@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700');
h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    line-height: 35px;
    text-align: center;
}
h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
}
h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 22px;
    line-height: 25px;
    text-align: left;
    font-weight: 400;
}
.button {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
}
.category {
    font-family: Georgia, Times New Roman, Serif;
    font-size: 12px;
}
/**
 * Checkbox Five
 */
.checkboxFive {
    width: 25px;
    margin: 20px 10px 20px 0;
    position: relative;
    display: inline-block;
}
/**
 * Create the box for the checkbox
 */
.checkboxFive label {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: #eee;
    border: 1px solid #ddd;
}
/**
 * Display the tick inside the checkbox
 */
.checkboxFive label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 7px;
    border: 3px solid #ff0000;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}
/**
 * Create the hover event of the tick
 */
.checkboxFive label:hover::after {
    opacity: 0.5;
}
/**
 * Create the checkbox state for the tick
 */
.checkboxFive input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.checkboxtext {
    font-family: Georgia, Times New Roman, Serif;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0 0 0;
}
img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.content {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 10px;
}
#sciencebox {
    background-color: #ff0000;
    padding: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    width: 100%;
}
#teacherbox {
    background-color: #ff0000;
    padding: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    width: 100%;
}
#birthdaybox {
    background-color: #ff0000;
    padding: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    width: 100%;
}
.birthdaywrapper .birthdaybox {
    position: absolute;
    overflow: hidden;
    padding: 13px 0px 13px 15px;
    border: solid;
    border-width: thin;
    border-color: #ff0000;
    font-size: 18px;
}
.birthdaywrapper {
    position: relative;
    width: 300px;
    height: 80px;
}
.footer {
    text-align: center;
    margin-top: 40px;
    font-family: Georgia, Times New Roman, Serif;
}
span {
    display: block;
    overflow: hidden;
}
/*links*/
	 /* unvisited link */
a:link {
    color: red;
}
/* visited link */
a:visited {
    color: darkred;
}
/* mouse over link */
a:hover {
    color: darkred;
}
/* selected link */
a:active {
    color: red;
}
#submit {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
}

	.submit {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
}

@media (max-width: 400px) {
}

@media (max-width: 300px) {
}
