<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Your Credit Card Email Preferences</title>
    <th:block th:with="brand=${dynamicFormBean.getBrand()}">
        <link th:href="@{/companies-static/usbank/preferences/__${brand}__/css/styles.css}" rel="stylesheet" type="text/css" />
    </th:block>
</head>
<body bgcolor="#FFFFFF">
<center>
    <div class="inner-div">
        <div id="vexp">
            <th:block th:object="${dynamicFormBean}" th:with="brand=${dynamicFormBean.getBrand()}">
                <header th:replace="~{/companies/usbank/preferences/includes/headers :: __${brand}__ }"></header>
                <table class="bodyTable">
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td><p>We are unable to process your request online at this time and encourage you to try again later. We apologize for the inconvenience.</p></td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                </table>
                <footer th:replace="~{/companies/usbank/preferences/includes/footers :: __${brand}__ }"></footer>
            </th:block>
            <div id="errorDetails">
                <input type="hidden" th:if="${message != null}" th:value="${message}" />
                <input type="hidden" th:if="${url != null}" th:value="${url}" />
            </div>
        </div>
    </div>
</center>
</body>
</html>