<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="head">

    <link rel="stylesheet" th:href="@{/companies-static/dillards/css/cv-master-styles.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/companies-static/dillards/css/cv-member-styles.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/companies-static/dillards/css/unsub.css}" type="text/css">

</th:block>


<th:block th:fragment="navigation">
    <!--Start Header Navigation-->
    <!--Header Logo-->
    <tr>
        <td>	<!-- align="center" valign="top"-->
            <table width="600" cellpadding="0" ><!--  border="0" cellspacing="0" -->
                <tbody><tr>
                    <td width="10" align="left"><img th:src="@{/companies-static/dillards/images/spacer.gif}" width="10" height="1"></td><!-- width="10" height="1" -->
                    <td width="136" height="53" align="left">
                        <a href="https://www.dillards.com/?cm_mmc=email-_-unsub-_-header-_-logo" target="_blank">
                            <img th:src="@{/companies-static/dillards/images/email_logo.jpg}" alt="Dillard&#39;s" title="Dillard&#39;s" width="136" height="53"><!-- width="136" height="53" border="0" -->
                        </a>
                    </td>
                    <td height="53" align="right" valign="top">
                        <table cellpadding="0" ><!--  border="0" cellspacing="0" -->
                            <tbody><tr>
                                <td align="right" valign="top">
                                    <a href="https://www.facebook.com/Dillards/" target="_blank">
                                        <img th:src="@{/companies-static/dillards/images/facebook.gif}" alt="Connect with us on facebook!" title="Connect with us on facebook!" width="16"><!-- width="16" height="16" border="0" -->
                                    </a>
                                </td>
                                <td width="10" align="left"><img th:src="@{/companies-static/dillards/images/spacer.gif}" width="10"></td><!-- width="10" height="1" -->
                                <td align="right" valign="top">
                                    <a href="https://twitter.com/Dillards/" target="_blank">
                                        <img th:src="@{/companies-static/dillards/images/twitter.gif}" alt="Click to follow us on Twitter!" title="Click to follow us on Twitter!" width="16"><!-- width="16" height="16" border="0" -->
                                    </a>
                                </td>
                                <td width="5" align="left"><img th:src="@{/companies-static/dillards/images/spacer.gif}" width="5" ></td><!-- width="5" height="1"-->
                            </tr></tbody>
                        </table>
                    </td>
                </tr></tbody>
            </table>
        </td>
    </tr>

    <!--Tabs-->
    <tr>
        <td valign="middle" height="25px"> <!--  align="center" valign="middle" height="25px" -->
            <table width="600" cellpadding="0" ><!-- border="0"  cellspacing="0" -->
                <tbody><tr>
                    <td>
                        <a href="https://www.dillards.com/shop/Women/_/N-lfx6?cm_mmc=email-_-unsub-_-header-_-women" target="_blank">
                            <img th:src="@{/companies-static/dillards/images/nav_women.gif}" alt="Women" title="Women" width="62"><!-- width="62" height="15" border="0" -->
                        </a>
                    </td>
                    <td>
                        <a href="https://www.dillards.com/shop/Juniors/_/N-lfxq?cm_mmc=email-_-unsub-_-header-_-juniors" target="_blank">
                            <img th:src="@{/companies-static/dillards/images/nav_juniors.gif}" alt="Juniors" title="Juniors" width="58"><!-- width="58" height="15" border="0" -->
                        </a></td>
                    <td>
                        <a href="https://www.dillards.com/shop/Shoes/_/N-lfxl?cm_mmc=email-_-unsub-_-header-_-shoes" target="_blank">
                            <img th:src="@{/companies-static/dillards/images/nav_shoes.gif}" alt="Shoes" title="Shoes" width="46" ><!-- width="46" height="15" border="0" -->
                        </a>
                    </td>
                    <td>
                        <a href="https://www.dillards.com/shop/Handbags/_/N-lfyu?cm_mmc=email-_-unsub-_-header-_-handbags" target="_blank">
                            <img th:src="@{/companies-static/dillards/images/nav_handbags.gif}" alt="Handbags" title="Handbags" width="76"><!-- width="76" height="15" border="0" -->
                        </a>
                    </td>
                    <td>
                        <a href="https://www.dillards.com/shop/Accessories/_/N-lfxv?cm_mmc=email-_-unsub-_-header-_-accessories" target="_blank">
                            <img th:src="@{/companies-static/dillards/images/nav_accessories.gif}" alt="Accessories" title="Accessories" width="92"><!-- width="92" height="15" border="0" -->
                        </a>
                    </td>
                    <td>
                        <a href="https://www.dillards.com/shop/Lingerie/_/N-lfz4?cm_mmc=email-_-unsub-_-header-_-lingerie" target="_blank">
                            <img th:src="@{/companies-static/dillards/images/nav_lingerie.gif}" alt="Lingerie" title="Lingerie" width="58"><!-- width="58" height="15" border="0" -->
                        </a>
                    </td>
                    <td>
                        <a href="https://www.dillards.com/shop/en/dillards/beauty" target="_blank">
                            <img th:src="@{/companies-static/dillards/images/nav_beauty.gif}" alt="Beauty" title="Beauty" width="52"><!-- width="52" height="15" border="0" -->
                        </a>
                    </td>
                    <td>
                        <a href="https://www.dillards.com/shop/Men/_/N-lfy5?cm_mmc=email-_-unsub-_-header-_-men" target="_blank">
                            <img th:src="@{/companies-static/dillards/images/nav_men.gif}" alt="Men" title="Men" width="38"><!-- width="38" height="15" border="0" -->
                        </a>
                    </td>
                    <td>
                        <a href="https://www.dillards.com/shop/Children/_/N-lfy0?cm_mmc=email-_-unsub-_-header-_-children" target="_blank">
                            <img th:src="@{/companies-static/dillards/images/nav_children.gif}" alt="Children" title="Children" width="68"><!-- width="68" height="15" border="0" -->
                        </a>
                    </td>
                    <td>
                        <a href="https://www.dillards.com/shop/Home/_/N-lfya?cm_mmc=email-_-unsub-_-header-_-home" target="_blank">
                            <img th:src="@{/companies-static/dillards/images/nav_home.gif}" alt="Home" title="Home" width="50"><!-- width="50" height="15" border="0" -->
                        </a>
                    </td>
                </tr></tbody>
            </table>
        </td>
    </tr>
    <!--End Header Navigation-->
</th:block>


<th:block th:fragment="footer-navigation">
    <!--Begin Footer Navigation-->
    <tr>
        <td align="center"><!-- valign="top"-->
            <table width="570" cellpadding="0"> <!-- border="0" cellspacing="0" -->
                <tbody><tr>
                    <td style="font-size: 12px; line-height: 24px; "> <!--align="left" style="color: #333333;" -->
                        Need Help? Customer service is available at 1-800-DILLARD
                    </td>
                </tr></tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td><!--align="center" valign="top"-->
            <table width="600" cellpadding="0"> <!-- border="0" cellspacing="0" -->
                <tbody><tr>
                    <td>
                        <a href="https://www.dillards.com/?cm_mmc=email-_-unsub-_-footer-_-dillardscom" target="_blank">
                            <img th:src="@{/companies-static/dillards/images/ftr_dillards_com.gif}" alt="Dillards.com" title="Dillards.com" width="128"><!-- width="128" height="28" border="0" -->
                        </a>
                    </td>
                    <td>
                        <a href="https://www.dillards.com/stores?cm_mmc=email-_-unsub-_-footer-_-store-locator" target="_blank">
                            <img th:src="@{/companies-static/dillards/images/ftr_store_locator.gif}" alt="Store Locator" title="Store Locator" width="112" ><!-- width="112" height="28" border="0" -->
                        </a>
                    </td>
                    <td>
                        <a href="https://dillards.myonlineresourcecenter.com/" target="_blank">
                            <img th:src="@{/companies-static/dillards/images/ftr_dillards_card.gif}" alt="Dillard&#39;s Card" title="Dillard&#39;s Card" width="125" ><!-- width="125" height="28" border="0" -->
                        </a>
                    </td>
                    <td>
                        <a href="https://www.dillards.com/privacy?cm_mmc=email-_-unsub-_-footer-_-privacy-policy" target="_blank">
                            <img th:src="@{/companies-static/dillards/images/ftr_privacy_policy.gif}" alt="Privacy Policy" title="Privacy Policy" width="119" ><!-- width="119" height="28" border="0" -->
                        </a>
                    </td>
                    <td>
                        <a href="https://www.dillards.com/contactus?cm_mmc=email-_-unsub-_-footer-_-contact-us" target="_blank">
                            <img th:src="@{/companies-static/dillards/images/ftr_contact_us.gif}" alt="Contact Us" title="Contact Us" width="116" ><!-- width="116" height="28" border="0" -->
                        </a>
                    </td>
                </tr></tbody>
            </table>
        </td>
    </tr>
    <!--End Footer Navigation-->
</th:block>



<th:block th:fragment="email-change-form">

    <h1 style="padding-bottom: 10px;">Change Your Email Settings</h1>
    <h3 style="margin-bottom: 2em;">You have requested the following:</h3>

    <!-- Change Email -->
    <form id="changeEmailForm" name="changeEmailForm" method="POST" th:action="@{'/p/services/update/' + *{contextPath}}" th:object="${dynamicFormBean}" onsubmit="return validateEmailChangeForm();">

        <!--						<div th:class="error" data-abide-error th:if="${dynamicFormBean.isError('emailNew')}">-->
        <!--							<p>Please correct email address.</p>-->
        <!--						</div>-->

        <table cellpadding="5"><!--width="100%" border="0" -->
            <tbody>
            <tr>
                <td colspan="2"><!--valign="top" -->
                    <p align="left"><font face="Verdana" size="3"><b>Change my email address</b></font></p>
                    <p align="left"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">To change your email address, please enter your new email address below and click Submit.</font></p>
                </td>
            </tr>
            <tr>
                <td align="left" style="width:25%"><font face="Verdana" size="2">Old email address:</font></td>
                <td align="left"><input type="text" size="30" th:field="*{items['email']}" maxlength="100" value="" readonly></td><!-- style="width:100%;" -->
            </tr>
            <tr>
                <td align="left"><font face="Verdana" size="2">New email address:</font></td><!-- style="white-space:nowrap; padding-bottom:15px;"-->
                <td align="left"><input type="text" size="30" th:field="*{items['emailNew']}" maxlength="100" value="" onkeyup="this.value = this.value.toLowerCase();"></td><!-- style="width:100%; padding-bottom:15px;"-->
            </tr>
            <tr>
                <td colspan="2" align="left" style="font-size: small;">If email address does not appear above, please type in your email as it currently appears on our list.</td>
            </tr>
            <tr>
                <td colspan="2" align="left"><input type="submit" name="Submit" value="SUBMIT" class="primary" style="line-height: 7px;"></td>
            </tr>
            </tbody></table>


        <input type="hidden" th:field="*{items['processEmailChange']}" />
        <input type="hidden" th:field="*{brand}" />
        <input type="hidden" th:field="*{items['cusCustomerIdHash']}" />

    </form>
</th:block>


<th:block th:fragment="script">

    <script th:src="@{/companies-static/dillards/js/jquery.min.js}"></script>
    <script th:src="@{/companies-static/dillards/js/waitMe.min.js}"></script>
    <script type="text/javascript">



		function validateEmailChangeForm()
		{
			$("body").waitMe({});

			var old_email = document.forms["changeEmailForm"]["items['email']"].value;
		  	var new_email = document.forms["changeEmailForm"]["items['emailNew']"].value;
			var regex_email=/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-zA-z]{2,6}(?:\.[a-zA-z]{2})?)$/;
			var errorFields = ""

			if (old_email != "" && new_email != "") {
				if (regex_email.test(old_email)) {
					//testresults = true;
				} else {
					errorFields += "\nValid Old Email Address";
					//return (false)
				}
				if (regex_email.test(new_email)) {
					//testresults = true;
				} else {
					errorFields += "\nValid New Email Address";
					//return (false)
				}
			} else {
				if (old_email == "") {
					errorFields += "\nValid Old Email Address";
				}
				if (new_email == "") {
					errorFields += "\nValid New Email Address";
				}
				//return (false)
			}

			if (!errorFields) {
				if(old_email == new_email){
					 errorFields += "\n New email cannot be the same as the old one";
				}
			}

			if (errorFields != "") {
				alert("Error occurred. Please enter - " + errorFields );
				$("body").waitMe('hide');
				return(false);
			} else {
			 	return(true);
			}
		}

		document.title="Dillards - Unsubscribe";
	</script>

</th:block>

</body>
</html>