<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<!--
   <th:block th:with="brand=${dynamicFormBean.getBrand()}" th:include="~{/companies/resideo/ga :: getHeadGATag('__${brand}__')}" />
-->
<th:block th:fragment="getHeadGATag(brand)" >
    <th:block th:switch="${brand}">
        <th:block th:case="'resideo'">
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-MKTDG93');</script>
            <!-- End Google Tag Manager -->
        </th:block>
        <th:block th:case="'honeywellhome'">
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-PFCJMHJ');</script>
            <!-- End Google Tag Manager -->
        </th:block>
    </th:block>
</th:block>

<!--
   <th:block th:with="brand=${dynamicFormBean.getBrand()}" th:include="~{/companies/resideo/ga :: getBodyGATag('__${brand}__')}" />
-->
<th:block th:fragment="getBodyGATag(brand)" >
    <th:block th:switch="${brand}">
        <th:block th:case="'resideo'">
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKTDG93"
                              height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        </th:block>
        <th:block th:case="'honeywellhome'">
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PFCJMHJ"
                              height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        </th:block>
    </th:block>
</th:block>

</body>
</html>
