@font-face {
  font-family: "DIN Condensed";
  src: url("../fonts/DINCondensed-Bold.eot");
  src: url("../fonts/DINCondensed-Bold.eot?#iefix") format('embedded-opentype'),
    url("../fonts/DINCondensed-Bold.woff") format("woff"),
    url("../fonts/DINCondensed-Bold.woff2") format("woff2"),
    url("../fonts/DINCondensed-Bold.ttf") format("truetype"),
    url("../fonts/DINCondensed-Bold.svg") format("svg");
  font-weight: normal;
}
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
 html {
     font-size: 16px;
}
 p {
     font-family: 'DIN Condensed', sans-serif;
}
 #container {
     width: 100%;
     background-color: #FFFFFF;
     margin: auto;
}
 #innerContainer {
     max-width: 900px;
     margin: auto;
}
 #Honeywell_logo {
     width: 245px;
     height: 36px;
     padding-top: 60px;
     text-align: left;
}
 #Resideo_logo {
     width: 194px;
     height: 24px;
     padding-top: 45px;
     text-align: left;
}
 #form_area {
     width: 100%;
     background-color: #E0E0E0;
     position: relative;
}
#error_form_area {
     width: 100%;
     background-color: #EE3124;
     position: relative;
}
#error_form_area h1 {
     margin-bottom: 20px;
     text-align: center;
	     font-family: 'DIN Condensed', sans-serif;
     color: #fff;
     font-size: 2em;
}
#error_form_area p {
     font-family: 'Roboto', sans-serif;
     color: #fff;
     font-size: 1.1875em;
     line-height: 1.78125em;
/*     margin-bottom: 1em;*/
     text-align: center;
}

 #bodyCopy {
     margin-bottom: 80px;
}
 #bodyCopy p {
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     color: #333;
     font-size: 1.1875em;
     line-height: 1.78125em;
     margin-bottom: 1em;
}
#bodyCopy p:last-of-type {
  margin-bottom: 0;
}
 .form-top {
     padding: 60px;
}
 .form-top p {
     font-family: 'DIN Condensed', sans-serif;
     color: #000;
     font-size: 2.1875em;
/*     margin-bottom: 20px;*/
}
 .form-top_error {
     padding: 60px;
}
 .form-top_error img {
     width: 50px;
     height: 50px;
	 margin: 0 auto 50px auto;
	 display: block;
}


 #verify {
     margin-top:0;
     width: 110px;
     height: 48px;
}
 #reenter_email_button{
     text-align: right;
}
 #reenter_email {
     margin-top:20px;
     width: 250px;
     height: 48px;
     -webkit-appearance: none;
  	 -moz-appearance: none;
  	 background-color: #166a96;
  	 border: none;
  	 color: #FFFFFF;
  	 border-radius: 0;
  	 text-align: center;
  	 text-decoration: none;
  	 display: inline-block;
  	 font-family: 'Roboto', sans-serif;
  	 font-size: .875em;
  	 font-weight: bold;
  	 letter-spacing: .25px;
}
input[type=email]{
     padding: 10px;
     width: 60%;
     height: 40px;
     margin-right: 180px;
     font-size: 1.1875em;
     line-height: 1.78125em;
}
 #success_form_area {
     margin-top: 100px;
     margin-bottom: 100px;
     width: 100%;
     background-color: #166a96;
     position: relative;
   padding: 60px;
}
 #no_record_form_area {
     margin-top: 100px;
     margin-bottom: 100px;
     width: 100%;
     background-color: #E0E0E0;
     position: relative;
}
#no_record_form_area h2 {
  font-family: 'DIN Condensed', sans-serif;
  font-size: 2.1875em;
  margin-bottom: 1em;
}
#no_record_bodyCopy p {
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     color: #333;
     font-size: 1.1875em;
     line-height: 1.625em;
     margin-bottom: 1em;
}
 .form-bottom {
     padding: 0px 60px 60px;
}
#headline {
  font-family: 'DIN Condensed', sans-serif;
  color: #333333;
  text-align: center;
  font-size: 4.375em;
  letter-spacing: .25px;
  padding: 100px 0px 50px 0px;
}
 #rollover {
     margin-top: 45px;
     width: 100%;
     display: -webkit-flex;
     display: flex;
     -webkit-justify-content: space-between;
     justify-content: space-between;
}
 #rollover_question {
     text-align: right;
     vertical-align: top;
     padding: 5px 0 0 15px;
}
 #rollover_question_h2, #form_area h2 {
     font-family: 'DIN Condensed', sans-serif;
     color: #000000;
     font-size: 1.875em;
     padding-bottom: 0;
     margin-bottom: 1em;
     vertical-align: top;
}
 #success_form_area h2 {
     font-family: 'DIN Condensed', sans-serif;
     color: #ffffff;
     font-size: 2.1875em;
     padding-bottom: 0;
     margin-bottom: 1em;
     vertical-align: top;
}
 #success_form_area p {
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     color: #ffffff;
     font-size: 1.1875em;
     line-height: 1.78125em;
     margin-bottom: 1em;
}
#success_form_area p:last-of-type {
  margin-bottom: 0;
}
.success_form_body {
  display: flex;
}
.success_form_checkmark {
  width: 80px;
  margin-right: 0px;
  text-align: left;
}
.success_form_checkmark img {
  width: 50px;
  height: 50px;
}

/*#form_area h2 {
     margin-top: 40px;
}
*/
/*#form_area h2:first-of-type {
     margin-top: 0px;
}
*/
 #bodyCopy .smalltype {
     font-size: 0.875em;
     line-height: 1.375em;
     padding-top: 6px;
     padding-bottom: 40px;
}

 .submit-button {
     text-align: right 
}
 .hr {
     padding-left: 42px;
     padding-right: 42px;
     border-bottom: 2px solid white;
     margin: 40px 0 0px;
}
 .topMargin0 {
     margin-top: 0;
}
input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #166a96;
  border: none;
  color: #FFFFFF;
  width: 170px;
  height: 50px;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: .875em;
  font-weight: bold;
  margin-top: 60px;
  letter-spacing: .25px;
}
 #footer {
     margin-top: 40px;
     margin-bottom: 40px;
     display: -webkit-flex;
     display: flex;
}
#footer_question {
  padding-right: 15px;
}
#footer_question_p p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #333333;
  vertical-align: top;
}
#footer_question_p a {
  text-decoration:none;
  color: #4076B8;
  font-size: 0.875em;
  font-weight: bold;
}
 ul {
     list-style-image: url('../images/bracket.png');
	 margin-left: 80px;
}
 li {
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     color: #333;
     font-size: 1em;
     line-height: 1.25em;
     margin-bottom: 15px;
}
 li a {
     text-decoration:none;
     color: #4076B8;
     font-weight: bold;
}
.error {
    font-weight: bold;
    font-family: 'DIN Condensed', sans-serif;
    font-size: 1.1875em;
    color: #EE3214;
}
 @media only screen and (max-width: 900px) {
     #header, #footer {
         padding-left: 30px;
         padding-right: 30px;
    }
}
 @media only screen and (max-width: 414px) {
     .form-top {
         padding: 30px 30px 20px;
    }
     .form-bottom {
         padding: 0px 30px 30px;
    }
     .checkbox-label {
         margin-left: 0px;
    }
     input[type=submit] {
         margin-top: 30px;
    }
     #rollover_question_h2, #form_area h2 {
         font-size: 1.625em;
    }
     .success_form_area {
         padding: 30px 30px 20px;
    }
input[type=email]{
     margin-right: 20px;
}	 
}
 @media only screen and (max-width: 375px) {
     #headline {
         font-size: 2.25em;
    }
input[type=email]{
     margin-right: 20px;
}	 
}
 
