<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dynamic Page 1</title>
</head>
<body>
<h3>Page 1</h3>
<form action="#" th:action="@{${contextPath}}" th:object="${formBean}" method="post">
    <div>
        <span th:if="${#fields.hasGlobalErrors()}" th:text="#{message.errorsFound}">Errors found</span>
    </div>
    <div>
        <!--div>
            <span th:if="#{fields.hasErrors(__${items['firstName']}__}" th:error="*{items['firstName']}">First name error</span>
        </div-->
        <label th:for="firstName" th:text="#{form.firstName}" >First Name</label>
        <input type="text" th:field="*{items['firstName']}" />
    </div>
    <div>
        <input type="submit" value="Submit" th:value="#{form.submitLabel}" />
    </div>
</form>
</body>
</html>